@using AuctionHouseMVC.Models;
@Styles.Render("~/Content/AuctionDetails.css")
@model ModelContainer
<fieldset>
@using (Ajax.BeginForm("Create", "AuctionPageViewModels", new AjaxOptions { UpdateTargetId = "MainCreateAuction" }))
{
    <div id="MainCreateAuction"></div>
    <ol>
                <li>
                    @*AuctionTitle*@<br>
                    @Html.TextBox("AuctionTitle")
                </li>
                <li>
                    @*MinimslPrice*@
                    @Html.TextBox("PriceStart")
                </li>
                <li>
                    @*ExpiresIn*@
                    @*@Html.DropDownList()*@
                </li>
                <li>
                    @*DescriprionShort*@
                    @Html.TextBox("DescriptionShort")
                </li> 
            @*TextBoxLongDescription*@           
                @Html.TextBox("DescriptionLong")
            @*PassNewAuction*@
    </ol>
    <button>PassAuction</button>
}
</fieldset>